<div class="contextual">
<%= link_to_if_authorized t(:link_view_document), {:controller => :doc_pu, :action => :open, :project_id => @project, :id => @doc}, :class => 'icon icon-file application-pdf' %>
<%= link_to_if_authorized t(:link_edit_document), {:controller => :doc_pu, :action => :edit, :project_id => @project, :id => @doc}, :class => 'icon icon-edit' %>
<%= link_to_if_authorized t(:link_code), {:controller => :doc_pu, :action => :code, :project_id => @project, :id => @doc}, :class => 'icon icon-file text-plain' %>
</div>

<h2><%=t :heading_build_document %></h2>

<div id="log-result">
	<div style="height:400px" class="box autoscroll">
	</div>
	<div class="flash warning"><%=t :text_press_build_button %></div>
</div>
<p>
<%= link_to t(:button_build),
	{:controller => :doc_pu, :action => :build_remote, :project_id => @project, :id => @doc},
    :remote => true,
    :id => "button_build_doc_remote",
    :class => "button_link"
%>
<%= link_to t(:button_clean),
	{:controller => :doc_pu, :action => :clean_remote, :project_id => @project, :id => @doc},
    :remote => true,
    :id => "button_clean_doc_remote",
    :class => "button_link"
%>
<%= acronym_info_tag t(:info_build_latex_multiple_times) %>
</p>
<% content_for :header_tags do %>
  <%= javascript_include_tag 'build', :plugin => 'redmine_doc_pu' %>
<% end %>