<%= javascript_tag do %>
    $(document).ready(function(){
        $('#doc_pu_settings_latex_bin').bind("ajax:complete", function(evt, xhr, settings){
            console.log(xhr.responseText);
            $("#result").html(xhr.responseText);
        }).on("click", function(event) {
            event.preventDefault(); // don't trigger default

            // get the value inside the text field
            var value = $("#latex_bin").val();
            var url = $(this).attr("href").split("?");
            if (url.length == 1){
                $(this).attr("href", $(this).attr("href") + "?file=" + value);
            }else {
                url.pop();
                url.push('file=' + value);
                $(this).attr("href", url.join("?"));
            }
        })
        $('#doc_pu_settings_makeindex_bin').bind("ajax:complete", function(evt, xhr, settings){
            console.log(xhr.responseText);
            $("#result").html(xhr.responseText);
        }).on("click", function(event) {
            event.preventDefault(); // don't trigger default

            // get the value inside the text field
            var value = $("#makeindex_bin").val();
            var url = $(this).attr("href").split("?");
            if (url.length == 1){
                $(this).attr("href", $(this).attr("href") + "?file=" + value);
            }else {
                url.pop();
                url.push('file=' + value);
                $(this).attr("href", url.join("?"));
            }
        })
        $('#doc_pu_settings_test_template').bind("ajax:complete", function(evt, xhr, settings){
            console.log(xhr.responseText);
            $("#result").html(xhr.responseText);
        }).on("click", function(event) {
            event.preventDefault(); // don't trigger default

            // get the value inside the text field
            var value = $("#template_dir").val();
            var url = $(this).attr("href").split("?");
            if (url.length == 1){
                $(this).attr("href", $(this).attr("href") + "?file=" + value);
            }else {
                url.pop();
                url.push('file=' + value);
                $(this).attr("href", url.join("?"));
            }
        })
    });
<% end %>
<p>
  <label>
    <%=t :field_latex_bin %>
  </label>
  <%= text_field_tag 'settings[latex_bin]', value=@settings['latex_bin'], :size => 50, :id => "latex_bin" %>
  <%= link_to(
              t(:button_test),
              {
                      :controller => "doc_pu_settings",
                      :action => "test_latex"
              },
              :id => "doc_pu_settings_latex_bin",
              :remote => true,
              :method => :post
      )
  %>
</p>

<p>
  <label>
    <%=t :field_makindex_bin %>
  </label>
  <%= text_field_tag 'settings[makeindex_bin]', value=@settings['makeindex_bin'], :size => 50, :id => "makeindex_bin" %>
  <%= link_to(
              t(:button_test),
              {
                      :controller => "doc_pu_settings",
                      :action => "test_makeindex"
              },
              :id => "doc_pu_settings_makeindex_bin",
              :remote => true,
              :method => :post
      )
  %>
</p>

<p>
  <label>
    <%=t :field_template_dir %>
  </label>
  <%= text_field_tag 'settings[template_dir]', value=@settings['template_dir'], :size => 50, :id => "template_dir" %>
  <%= link_to(
              t(:button_test),
              {
                      :controller => "doc_pu_settings",
                      :action => "test_template"
              },
              :id => "doc_pu_settings_test_template",
              :update => 'template-dir-result',
              :remote => true,
              :method => :post
      )
  %>
</p>

<div id="result"></div>